environment:
  matrix:
    - nodejs_version: "8"
    - nodejs_version: "10"
    - nodejs_version: "12"

matrix:
    fast_finish: true

install:
  - ps: Install-Product node $env:nodejs_version
  - npm install

before_build:
build: off
after_build:

before_test:
  - node --version
  - npm --version

test_script:
  - npm test

after_test:

