name: CI

on: [ push ]

env:
  CI: true
  node-version: 16

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      name: Node.js ${{ env.node-version }}
      with:
        node-version: ${{ env.node-version }}

    - run: npm install
    - run: npm run lint

  test:
    needs: lint
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        node-version: [ 14, 16, 18 ]
      fail-fast: false
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      name: Node.js ${{ matrix.node-version }}
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    - run: npm test

  test-win:
    needs: lint
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ windows-latest ]
        node-version: [ 12, 14, 16, 18 ]
      fail-fast: false
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      name: Node.js ${{ matrix.node-version }}
      with:
        node-version: ${{ matrix.node-version }}

    - run: npm install
    - run: npm test
